<%= form_for @topic, :url => topics_path do |t|%>
  <%= render :partial => 'form', :locals => {:t => t} %>
  <div class='text-center'>
  <%= link_to 'Back', topics_path, :class => 'btn btn-default' %>
  <%= t.submit 'Create', :class => 'btn btn-default' %>
  </div>
<% end %>