// Place all the styles related to the profile::topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2{
  border-bottom: 5px solid #eee;
}

table tr td{
  border-top: none;
  color: white;
}


