<h2>About</h2>
<hr>
<table class='table'>
  <tr>
    <td class='col-md-3 text-right' style='border-top: none;'>Users</td>
    <td style='border-top: none;'><%=@users.count%></td>
  </tr>
  <tr>
    <td class='col-md-3 text-right' style='border-top: none;'>Topics</td>
    <td style='border-top: none;'><%=@topics.count%></td>
  </tr>
  <tr>
    <td class='col-md-3 text-right'  style='border-top: none;'>Replies</td>
    <td style='border-top: none;'><%=@replies.count%></td>
  </tr>
</table>